* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding-right: 135px;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}   

p {
    position: relative;
    width: 70%;
    font-size: 11px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    left: 10%;
    line-height: 24px;
}

img {
    position: relative;
    left: 10%;
    padding-top: 30px;
    width: 50px;
}

.btn {
    border: 1px solid;
    border-color: #fff;
    border-radius: 30px;
    color:  hsl(31, 77%, 52%);
    position: relative;
    left: 10%;
    width: 50%;
    height: 65%;
}

.btn:hover {
    background-color:hsl(31, 77%, 52%);
    color: #fff;
}

.btn1 {
    border: 1px solid;
    border-color: #fff;
    border-radius: 30px;
    color: hsl(184, 100%, 22%);
    position: relative;
    left: 10%;
    width: 50%;
    height: 65%;
}

.btn1:hover {
    background-color: hsl(184, 100%, 22%);
    color: #fff;
}

.btn2 {
    border: 1px solid;
    border-color: #fff;
    border-radius: 30px;
    color: hsl(179, 100%, 13%);
    position: relative;
    left: 10%;
    width: 50%;
    height: 65%;
}

.btn2:hover {
    background-color: hsl(179, 100%, 13%);
    color: #fff;
}

.container {
    width: 60%;
    height: 70%;
    display: flex;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    display: grid;
    justify-content: center;
    text-align: left;
    border-radius: 3% 0 0 3%;
}

.suv {
    background-color: hsl(184, 100%, 22%);
    display: grid;
    justify-content: center;
    text-align: left;

}

.luxry {
    background-color: hsl(179, 100%, 13%);
    display: grid;
    justify-content: center;
    text-align: left;
    border-radius: 0 3% 3% 0;

}


@media (max-width: 375px) {

    body {
        width: 375px;
        padding: 70px 0;
        height: 1400px;
        display: flex;
    }
    
      .container {
        position: relative;
        height: 100%;
        width: 330px;
        display: grid;
        flex-direction: column;
      }

      .sedan {
        border-radius: 10px 10px 0 0 ;
      }

      .luxry {
        border-radius: 0 0 10px 10px;
      }

      h1 {
        padding-right: 200px;
      }

      p {
        line-height: 34px;
        font-size: 14px;
      }
      

      
     
    }

      
    